<div class=" m-4" >
  <div class=" col-12 ">
    <div class="row" style="background-color:#78c2ad">
      <div class="m-2 d-flex col-3 justify-content-center"><img src="assets/img/Dotcolib.png" alt="image" class="  m-2 d-flex justify-content-center"/></div>
      <h5 class="m-2 d-flex col-8  align-items-center text-white">ÊTRE SOIGNÉ.E N'EST PLUS QU'A UNE PORTÉE DE CLIC</h5>
    </div>
  </div>
  <div class=" m-5 d-flex justify-content-center  " >

  <!-- <route-outlet></route-outlet>  faire appraitre la page d'accueil --> 
   <router-outlet></router-outlet> <!-- faire appraitre la page de connexion --> 
   <!-- <router-outlet name="inscription"></router-outlet> faire appraitre la page d'inscription'  -->

 
  </div>
  <div class="text-center mt-5  " style="background-color:#78c2ad">
    © 2020 Copyright: Doctolib
  </div>
  
</div>