<header>

  <div class=" ml-4 mt-1 mr-4" >
    <div   id="navbarGenerale" class="row ">
      <div class=" col-2 d-flex "><img src="assets/img/logo.png" alt="image" width="90" height="90" class=" mt-2 mb-2 d-inline-block align-top" /></div>

      <nav class="col-7 navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand mr-5"  href="#">Mon Doctolib</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" routerLinkActive="active" href="#">Mes infos
                <!-- <span class="sr-only">(current)</span> -->
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" href="#">Prendre rdv</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" href="#">Historiques des rdv</a>
            </li>
          </ul>
        </div>
      </nav>
    <div class="col-3 d-flex justify-content-end align-items-center">
        <div class=" dropdownz ">
          <a class="btn dropdown-toggle" data-toggle="dropdown" id="dropdownMenuLink" href="#" role="button" aria-haspopup="true" aria-expanded="false">Mon compte</a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#">Modifier mes infos</a>
            <a class="dropdown-item" href="#">Me déconnecter</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Supprimer mon compte</a>
          </div>
        </div>
    </div>


    </div>
    <hr>
  </div>

</header>
