
  <h3>Ici vos infos</h3> <br>
  <!-- affichage de toutes les informations docteurs -->
  <div class="row">
    <div id="infos" class="col-6">
      <div class="mr-1 ml-1 mt-1 mb-2"> {{profil =="docteur" ? "Dr." : ""}} {{personne?.nom |  uppercase}} {{personne?.prenom | titlecase }} 
        <br> 
        {{profil =="docteur" ? personne?.numeroOrdre : personne?.numeroCarteVitale}}</div>
      <div class="m-1">
        <div>{{profil =="docteur" ? personne?.adresseTravail : personne?.adresse}}</div>
        <div>{{personne?.codePostal}}</div>
        <div>{{personne?.ville}}</div>
      </div>
      <br>
      <div class="m-1">
        <div>{{personne?.email}}</div>
        <div>{{personne?.telephone}}</div>
        <div>{{personne?.lienSiteInternet}}</div>
      </div>
    </div>
    <div [hidden]="!profilDoc" id="specialites" class="col-6">
      <h5>Vos spécialités</h5>
      <p>ici vos spe :{{listeSpe}} </p>
      <div *ngFor="let spe of listeSpe">
        {{spe.nom}}
      </div>
    </div>
  </div>

