    <div class="border p-3">
        <h3 class="mb-5">Bénéficiez de l'accès aux soins <br> en toute simplicité </h3>
        <h5>Doctolib, c'est <strong>{{countDoc}}</strong> praticiens et praticiennes  <br> 
            inscrit.e.s et vérifi.e.s.</h5>
        <h5>Et plus de <strong>{{countRdv}} </strong> rendez-vous pris <br> depuis la création du site.</h5>
        <p class="mt-4">Le site vous permettra d'avoir l'historique de vos rendez-vous <br> & de suivre au plus votre santé.</p>
        <div class="row d-flex justify-content-center mt-5">
          <div class="col-5">
            <a [routerLink]="['/connexion']" class="btn btn-outline-primary "> Me connecter</a>
          </div>
          <div class="col-5">
            <a [routerLink]="['/inscription']" class="btn btn-outline-secondary "> M'inscrire</a>
          </div>
        </div>
    </div>


