<div class="border p-3">

    <div class="form-group">
      <label for="exampleFormControlSelect1">Êtes vous un.e patient.e ou un.e praticien.ne ?</label>
      <select class="form-control" id="exampleFormControlSelect1" (change)="recupProfil($event)">
        <option disabled selected>-- Choisir un profil utilisateur.rice--</option>
        <option value="patient">Patient.e</option>
        <option value="docteur">Praticien</option>
      </select>

    </div>
<div [hidden]="!pb" class="alert alert-danger">Inscription incorrecte</div>
  <form [hidden]="!profilRecupere "  (ngSubmit)="onSubmit(monForm.value)" #monForm="ngForm" >
    <div class="form-group">
      <label for="username" class="text-dark">Pseudo</label>
      <input [(ngModel)]="username" type="text" class="form-control" name="username" id="username"
      (keyup)="confirmationPseudo($event)"
      pattern="[A-Z]|[0-9]|[a-z]" placeholder="Ninja65"  required>
      <div [hidden]="!pseudo">
        <p id="pseudoKo">Pseudo déjà utilisé</p>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-6">
        <label for="nom" class="text-dark">Nom</label>
        <input [(ngModel)]="nom" type="text" class="form-control" name="nom" id="nom" placeholder="LEGUAI" required>
      </div>
      <div class="form-group col-6">
        <label for="prenom" class="text-dark">Prénom</label>
        <input [(ngModel)]="prenom" type="text" class="form-control" name="prenom" id="prenom" placeholder="Perrine" required>
      </div>
    </div>
    <div class="form-group ">
      <label for="adresse" class="text-dark">{{this.profilRecupere=="patient" ? "Adresse" : "AdresseTravail"}}</label>
      <input [(ngModel)]="adresse" type="text" class="form-control" name="adresse" id="adresse" placeholder="25 rue de la patate" required>
    </div>
    <div class="row">
      <div class="form-group col-6">
        <label for="codePostal" class="text-dark">Code Postal</label>
        <input [(ngModel)]="codePostal" type="text" class="form-control" name="codePostal" id="codePostal" pattern="/^(([0-8][0-9])|(9[0-5]))[0-9]{3}$/" placeholder="59850" required>
      </div>
      <div class="form-group col-6">
        <label for="ville" class="text-dark">Ville</label>
        <input [(ngModel)]="ville" type="text" class="form-control" name="ville" id="ville" pattern="^[[:alpha:]]([-' ]?[[:alpha:]])*$"  placeholder="Nieppe" required>
      </div>
    </div>

    <div class="form-group">
      <label for="noidentification" class="text-dark">{{this.profilRecupere=="patient" ? "N° Carte Vitale" : "N° Ordre"}}</label>
      <input [(ngModel)]="noIdentification" type="text" class="form-control" name="numeroIdentification" id="noIdentification"
              pattern="{{this.profilRecupere=='patient' ? '/^[12][0-9]{2}(0[1-9]|1[0-2])(2[AB]|[0-9]{2})[0-9]{3}[0-9]{3}([0-9]{2})?$/x' : '[0-9]{9}'}}"
              placeholder="15912512211254" required>
    </div>

    <div class="form-group" [hidden]="profilRecupere=='patient'">
      <label for="selectSpe" class="text-dark">Specialites</label>
      <select id="selectSpe"  class="form-select selectpicker" [(ngModel)]="specialite" name="specialite" size="7" (click)="selectMultiple($event)"  multiple>
        <option disabled>-- Sélectionner une ou plusieurs spécialité.s --</option>
        <option   *ngFor="let specialite of specialites"  value="{{specialite.id}}"> {{specialite.nom}} et {{specialite.id}}</option>
      </select>
  </div>

    <div class="form-group">
      <label for="email" class="form-label text-dark">Email</label>
      <input [(ngModel)]="email"  type="email" class="form-control"  name="email" id="email" placeholder="mail@mail.fr" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,4}$" required>
    </div>
    <div class="form-group">
      <label for="telephone" class="text-dark">Telephone</label>
      <input [(ngModel)]="telephone" type="text" class="form-control" name="telephone" id="telephone" placeholder="0623521462" >
    </div>
    <div class="form-group" [hidden]="profilRecupere=='patient'">
      <label for="lienSiteInternet" class="text-dark">Site internet</label>
      <input [(ngModel)]="lienSiteInternet" type="text" class="form-control" name="lienSiteInternet" id="lienSiteInternet" placeholder="www.bonjour.fr" >
    </div>
    <hr>
    <div class="row mt-4">
      <div class="form-group col-6">
        <label for="password" class="text-dark">Mot de passe</label>
        <input [(ngModel)]="password" type="password" class="form-control" name="password" id="password" (keyup)="enregistrerMDP($event)" placeholder="******" required >
      </div>
      <div class="form-group col-6">
        <label for="passwordConfirmed" class="text-dark">Confirmer le mot de passe</label>
        <input type="password" class="form-control" name="passwordConfirmed" (keyup)="confirmationMDP($event)" placeholder="******" required >
        <div id="validationMDP" [hidden]="ok">Les mots de passe ne correspondent pas</div>
        <div id="mdpValide" [hidden]="!ok">Mots de passe identiques !</div>
      </div>
  </div>
  <div class=" d-flex justify-content-center mt-5">
    <button class="btn btn-primary " [disabled]="!ok && monForm.invalid" > S'inscrire</button>
</div>
  </form>

</div>