<div class="border p-3">
  
    <div class="form-group">
      <label for="exampleFormControlSelect1">Êtes vous un.e patient.e ou un.e praticien.ne ?</label>
      <select class="form-control" id="exampleFormControlSelect1">
        <option>Patients</option>
        <option>Praticiens</option>
      </select>
    </div>
  <form>
    <div class="form-group">
      <label for="Username" class="text-dark">Pseudo</label>
      <input type="text" class="form-control" id="Username" placeholder="Ninja65" required> 
    </div>
    <div class="row">
      <div class="form-group col-6">
        <label for="nom" class="text-dark">Nom</label>
        <input type="text" class="form-control" id="nom" placeholder="LEGUAI" required>
      </div>
      <div class="form-group col-6">
        <label for="prenom" class="text-dark">Prénom</label>
        <input type="text" class="form-control" id="prenom" placeholder="Perrine" required>
      </div>
    </div>
    <div class="form-group ">
      <label for="adresse" class="text-dark">Adresse</label>
      <input type="text" class="form-control" id="adresse" placeholder="25 rue de la patate" required>
    </div>
    <div class="row">
      <div class="form-group col-6">
        <label for="codePostal" class="text-dark">Code Postal</label>
        <input type="text" class="form-control" id="codePostal" placeholder="59850" required>
      </div>
      <div class="form-group col-6">
        <label for="ville" class="text-dark">Ville</label>
        <input type="text" class="form-control" id="ville" placeholder="Nieppe" required>
      </div>
    </div>
    <div class="form-group">
      <label for="noCarteVitale" class="text-dark">N° Carte Vitale</label>
      <input type="text" class="form-control" id="noCarteVitale" placeholder="15912512211254" required>
    </div>
    <div class="form-group">
      <label for="email" class="text-dark">Email</label>
      <input type="email" class="form-control" id="email" placeholder="mail@mail.fr" required>
    </div>
    <div class="form-group">
      <label for="telephone" class="text-dark">Telephone</label>
      <input type="text" class="form-control" id="telephone" placeholder="0623521462" >
    </div>
    <hr>
    <div class="row mt-4">
      <div class="form-group col-6">
        <label for="password" class="text-dark">Mot de passe</label>
        <input type="password" class="form-control" id="password" placeholder="******" required >
      </div>
      <div class="form-group col-6">
        <label for="passwordConfirmed" class="text-dark">Confirmer le mot de passe</label>
        <input type="password" class="form-control" id="passwordConfirmed" placeholder="******" required >
      </div>
  </div>
  </form>
  <div class=" d-flex justify-content-center mt-5">
      <button class="btn btn-primary "> S'inscrire</button>
  </div>
</div>