
    <div class="border p-3">
      <div class="form-group">
        <label for="exampleFormControlSelect1">Êtes vous un.e patient.e ou un.e praticien.ne ?</label>
        <select class="form-control" id="exampleFormControlSelect1" (change)="recupProfil($event)">
          <option disabled selected>-- Choisir un profil utilisateur.rice--</option>
          <option value="patient">Patient.e</option>
          <option value="docteur">Praticien</option>
        </select>
      </div>
      
    <form [hidden]="profilRecupere==null"  >
        
          <div class="form-group">
            <label for="username">Pseudo</label>
            <input id="username" type="text" class="form-control" (keyup)="testPseudo($event)">
            <div id="usernameko" [hidden]="ok">Ce pseudo n'existe pas</div>
            <div id="usernameok" [hidden]="!ok">Bienvue à bord !</div>
          </div>
          <div class="form-group">
            <label for="password">Mot de passe</label>
            <input id="password" type="text" class="form-control">
          </div>
          
        </form>
        <div class=" d-flex justify-content-center mt-5">
            <button class="btn btn-primary "> Se connecter</button>
        </div>
    </div>
  

