<div class="col-10 offset-1 mt-5 mb-5 p-4 border border-success">
  <div>
    <h3>Historique de vos rendez-vous :</h3>
    
    <div *ngFor="let rdv of listeRdvs" class="col-4" >
      <div *ngIf=" rdv.date < currentDate ">
        <strong>{{rdv.date | date:'dd/MM/yyyy'}}</strong> <br>
        {{profil=="docteur" ? rdv.idPatient[0]: rdv.idDocteur[0]}} {{profil=="docteur" ? rdv.idPatient[1] : rdv.idDocteur[1]}}<br>
        {{profil=="docteur" ? rdv.idPatient[2] : rdv.idDocteur[2]}}
      </div>
    </div>
      
  </div>
</div>
  
