
<!-- <app-infos-generales></app-infos-generales> -->
<!-- si role user  = PATIENT   -->
<!-- <app-rdv-patient></app-rdv-patient> -->
<!-- si role user = DOCTEUR -->
<!-- <app-rdv-docteur></app-rdv-docteur> -->
<!-- <div>
  <h5>Voici la liste des docteurs</h5>
  <div class="col-8 m-1" *ngFor="let docteur of listeDocs">
    Dr. {{docteur.nom}} {{docteur.prenom}}, {{docteur.specialites}} <br>
    Coordonnées : {{docteur.telephone}} - {{docteur.email}}
  </div>
</div> -->
<router-outlet></router-outlet>

